<?xml version="1.0" encoding="utf-8" ?>
<DeviceSettings>
  <!--提供REST APIs的服务器地址-->
  <ServiceUrl></ServiceUrl>
  <!--MQTT Broker的端口-->
  <MQTTBrokerPort></MQTTBrokerPort>
  <!--称重允许的差值范围-->
  <ErrorRange></ErrorRange>
  <!--控制主门的PIN引脚-->
  <PrimaryDoorPin></PrimaryDoorPin>
  <!--控制次门的PIN引脚-->
  <SecondaryDoorPin></SecondaryDoorPin>
  <!--红外传感器的PIN引脚-->
  <InfraredSensorPin></InfraredSensorPin>
</DeviceSettings>
